.card-body{
    display: flex;
    justify-content: space-around;
    /* justify-content: space-evenly; */
}

.card-title{
    margin-bottom: 0px;
}

.vl {
    border-left: 1px solid gray;
    height: 80px;
  }

.text{
    padding: 20px;
    display: block;
    margin-left: -100px;
}